<?xml version='1.0' encoding='utf-8'?>
<configuration>
    <configsections>
        <section name="httpAuthModule" type="System.Configuration.NameValueFileSectionHandler">
        </section>
    </configsections>
    <httpauthmodule>
        <!--
[required] Http Authentication Mode.
- Basic: Basic authentication
- Digest: Digest authentication
- None: No authentication -->
        <add key="AuthMode" value="Digest">
            <!-- [optional] default is "SecureZone" -->
        </add>
        <add key="Realm" value="SecureZone">
            <!-- [required if http auth on] user1:pass1;user2:pass2;... -->
        </add>
        <add key="Credentials" value="hoge:hogepass;foo:foopass;">
            <!-- [optional] Digest Auth Nonce Valid Duration Minutes. default is 120 -->
        </add>
        <add key="DigestNonceValidDuration" value="120">
            <!-- [required if digest auth on] Digest Auth Nonce Salt -->
        </add>
        <add key="DigestNonceSalt" value="uht9987bbbSAX">
        </add>
    </httpauthmodule>
    <system.webserver>
        <modules>
            <add type="HttpAuthModule.HttpAuthModule" name="HttpAuthModule">
            </add>
        </modules>
    </system.webserver>
</configuration>